<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.xxx.mapper.LogisticsInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzy.xxx.pojo.LogisticsInfo">
        <id column="id" property="id" />
        <result column="pick_express_id" property="pickExpressId" />
        <result column="current_location" property="currentLocation" />
        <result column="current_status" property="currentStatus" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pick_express_id, current_location, current_status, delivery_time, created_time, updated_time, deleted
    </sql>

</mapper>
