<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.xxx.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzy.xxx.pojo.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="role_id" property="roleId"/>
        <result column="enable_flag" property="enableFlag"/>
        <result column="last_login" property="lastLogin"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , username, password, role_id, enable_flag, last_login, created_time, updated_time, deleted
    </sql>

    <select id="getStatics" resultType="com.zzy.xxx.vo.StaticsVo">
        SELECT (SELECT COUNT(1) FROM t_user WHERE deleted = 0)    AS user_total,
               (SELECT COUNT(1) FROM t_express WHERE deleted = 0) AS express_total,
               (SELECT COUNT(1) FROM t_pickup WHERE deleted = 0 AND DATE(created_time) = DATE(NOW())) AS pick_total,
               (SELECT COUNT(1) FROM t_delivery WHERE deleted = 0 AND DATE (created_time) = DATE (NOW())) AS delivery_total;
    </select>

    <select id="getPickStatics" resultType="com.zzy.xxx.vo.PickStaticsVo">
        SELECT
        x.date,
        IFNULL(y.pickup_count, 0) AS pickup_count,
        IFNULL(z.delivery_count, 0) AS delivery_count
        FROM
        (
        SELECT DATE_SUB(CURDATE(), INTERVAL n DAY) AS date FROM (
        SELECT a.N + (10 * b.N) + (100 * c.N) + (1000 * d.N) + (10000 * e.N) AS n
        FROM (SELECT 0 AS N UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9) a
        JOIN (SELECT 0 AS N UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9) b
        JOIN (SELECT 0 AS N UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9) c
        JOIN (SELECT 0 AS N UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9) d
        JOIN (SELECT 0 AS N UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9) e
        ) m WHERE m.n &lt;= 5
        ) x
        LEFT JOIN (
        SELECT DATE(created_time) AS date, COUNT(*) AS pickup_count FROM t_pickup  WHERE DATEDIFF(NOW(), created_time) &lt;= 5 GROUP BY date
        ) y ON x.date = y.date
        LEFT JOIN (
        SELECT DATE(created_time) AS date, COUNT(*) AS delivery_count FROM t_delivery WHERE DATEDIFF(NOW(), created_time) &lt;= 5 GROUP BY date
        ) z ON x.date = z.date
        ORDER BY x.date;
    </select>

</mapper>
